header{
    background-color: map-get($colors, header-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-size);
    font-family: var(--regular-font);
    z-index: var(--z-fixed);

    .wrapper{
        height: 100%;
    }

    &::before{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        filter: blur(5px);
    }
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;

    .item{
        padding: 0.5em 0.75em;
        display: flex;
        align-items: center;

        &:first-child::before{
            background-image: url(../../img/gente.png);
        }

        &:nth-child(2)::before{
            background-image: url(../../img/informacion.png);
        }

        &:nth-child(3)::before{
            background-image: url(../../img/contacto.png);
        }
    }

    .link{
        color: white;
        width: 100%;
    }
}